#filemanager .upload-img-items {
  border: 1px solid #efefef;
    padding: 5px;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 5px;

}
#filemanager .upload-img-items label{
    margin-top: 10px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

#filemanager .thumbnail{
	height: 120px;
	margin-bottom: 0px !important;
}
#filemanager .thumbnail img{
	height: 100%;
	max-width: 100%;
}
#filemanager .list-group .thumbnail {
	height: 125px !important;
}
#filemanager .modal-content{
	border-radius: 0px;
}
#filemanager .modal-header{
	padding: 5px 5px 0px 25px !important;
    display: inline-block !important;
    width: 100% !important;
}
#input-image {
	margin-top: 15px;
}
#input-image img{
	width: 145px;
}
#filemanager .modal-header button {
	float: right;
	margin: 0;
	margin: 0;
	border-radius: 0;
	border-right: 0;
	border-bottom: 0;
}
#filemanager .modal-title {
	font-size: 18px !important;
}

.img-thumbnail {
	text-decoration: none !important;
    border-radius: 0;
    border: 2px dashed #ddd;
    /*padding: 5px 10px;*/
}
.display-input-image img {
	width: 100%;
}

.display-input-image {
    /*overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    width: 143px;*/
    margin-bottom: 15px;
}
.display-input-image img{
    width: 105px;
    border: 1px solid #ddd;
    margin-top: 5px;
    padding: 3px;
    height: 75px;
}

.popover .btn, #filemanager .btn {
    box-shadow: none;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-width: 0;
    border-color: transparent;
    border-style: solid;
    border-radius: 0px;
}
/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

#dynamic_form {
    width:100%;
}

/*pagination*/
.pagination {
    margin: 0;
}
.pagination {
    display: inline-block;
    width: 100%;
}
.pagination>li {
    display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    background-color: #1e91cf;
    border-color: #1e91cf;
    cursor: default;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 8px 13px;
    line-height: 1.42857;
    text-decoration: none;
    color: #1e91cf;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 8px 13px;
    line-height: 1.42857;
    text-decoration: none;
    color: #1e91cf;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
