@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-family-Khula: 'Khula', sans-serif;
$font-family-Roboto : 'Roboto', sans-serif;
$regular: 400;

$font-size: 12px;

